@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

body {
    font-family: "Archivo", serif;
    background-color: #f4f4f4;
    margin: 0;
    overflow: hidden;
    font-size: 16px; /* Smaller font size */
    color: white;
    height: 100vh;
}

#bgc {
    width: 100%;
    height: 100%;
    background: url(../img/IMG_20250509_215012_423.jpg) center top #f4f4f4;
    background-size: cover;
    overflow: hidden;
}

.mb-box {
    width: 350px; /* Smaller width */
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    z-index: 2;
}

.bb {
    width: 350px; /* Match box size */
    border-radius: 10px;
    box-shadow: 0px 0px 20px #999;
    background: url(../images/alpha-bg.png);
    backdrop-filter: blur(6px);
    overflow: hidden;
}

.bb h2 {
    margin: 15px auto 0;
    padding: 20px 0 10px;
    font-size: 20px; /* Smaller font */
    text-align: center;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.bb_text {
    padding: 20px 30px;
    text-indent: 2em;
    line-height: 28px;
    font-size: 16px; /* Smaller font */
    color: white;
    max-height: 400px;
    overflow-y: auto;
}

.bb_myname {
    text-align: right;
    padding: 0 30px 20px;
    font-size: 16px; /* Smaller font */
    color: white;
}